RewriteEngine on
RewriteCond %{HTTP_HOST} ^order\.goolfutsal\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.order\.goolfutsal\.com$
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^/?$ "http\:\/\/order\.goolfutsal\.com\/frontend" [R=301,L]